/* components/NavBar.module.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1f1f1f;
  font-family: 'Press Start 2P', cursive;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navButton {
  background-color: #5c5cff;
  border: none;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #3d3db3;
}

.span {
    color: #ffffff;
}

.userImage {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Preserve the aspect ratio while resizing */
  margin-right: 10px; /* Add some space between the image and the email */
}

.logoContainer {
  display: flex;
  align-items: center;
}