/* components/NavBar.module.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1f1f1f;
  font-family: 'Press Start 2P', cursive;
  border-bottom: 1px solid #ccc;
}

.navButton {
  background-color: #5c5cff;
  border: none;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #3d3db3;
}

.span {
    color: #ffffff;
}
